* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(../img/bg-image.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.header-logo {
    text-align: center;
    color: #DCDCDC;
    font-size: 1.5em;
}

.header-logo h1 a {
    color: #DCDCDC;
    text-decoration: none;
}

.header-logo h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.3s;
}

#navbar a {
    float: left;
    text-decoration: none;
    margin: 1em 3em;
}

#navbar a li {
    color: #9F9F9F;
    font-size: 1.75em;
    font-weight: bold;
    transition: 0.3s ease;
}

.active {
    color: #DCDCDC !important;
}

#navbar a li:hover {
    color: #DCDCDC !important;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    font-size: 2em;
    width: 50%;
}

#main-container {
    margin-top: 15%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-btn-container a {
    color: #DCDCDC;
    text-decoration: none;
    font-size: 2em;
    font-weight: 800;
    transition: 0.3s ease;
    border: 8px solid #DCDCDC;
    padding: 0.5em 1.5em;
}

#info-btn-container {
    margin-top: 4em;
}

#info-btn-container a:hover {
    background-color: #DCDCDC;
    color: #3A3A3A;
}

.dark-txt {
    color: #3A3A3A;
}

.light-txt {
    color: #DCDCDC;
}

.extra-bold {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.large-txt {
    font-size: 2em;
}

.medium-txt {
    font-size: 1.75em;
}

.small-txt {
    font-size: 0.75em;
}

#count-lbl {
    letter-spacing: 1.2em;
    margin-left: 1.25em;
}

#nav-toggle-img-container {
    display: none;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 1600px) {
    #nav-toggle-img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 99999;
        padding: 3em;
        right: 0;
        top: 0;
        width: 80%;
        height: 150px;
    }

    #navbar {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        background: #565656;
        height: 100vh;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
    }

    #navbar-heading {
        /* display: block !important; */
        color: #DCDCDC;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar-heading h2 {
        position: absolute;
        right: 50%;
    }

    #navbar a {
        width: 30%;
    }

    #navbar a li {
        text-align: left;
        width: 30%;
        font-size: 2.5em;
    }

    header {
        justify-content: space-between;
        padding: 0em 3em;
    }
}

@media screen and (max-width: 550px) {
    #navbar a li {
        font-size: 2em;
        margin-right: 0;
    }

    #navbar a {
        margin: 1em 1em;
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .large-txt {
        font-size: 1.75em;
    }

    .medium-txt {
        font-size: 1.5em;
    }

    .small-txt {
        font-size: 0.7em;
    }

    #count-lbl {
        letter-spacing: 1.05em;
        margin-left: 1em;
    }

    #main-container {
        margin-top: 15%;
    }

    #info-btn-container {
        margin-top: 3em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 6px solid #DCDCDC;
    }
}

@media screen and (max-width: 950px) {
    .large-txt {
        font-size: 1.25em;
    }

    .medium-txt {
        font-size: 1em;
    }

    .small-txt {
        font-size: 0.5em;
    }

    #count-lbl {
        letter-spacing: 0.9em;
        margin-left: 1em;
    }

    .header-logo {
        font-size: 1.25em;
    }

    #main-container {
        margin-top: 15%;
    }

    #info-btn-container {
        margin-top: 2.5em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 4px solid #DCDCDC;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 650px) {
    .large-txt {
        font-size: 1em;
    }

    .medium-txt {
        font-size: 0.8em;
    }

    .small-txt {
        font-size: 0.4em;
    }

    #count-lbl {
        letter-spacing: 0.9em;
        margin-left: 1em;
    }

    .header-logo {
        font-size: 1em;
    }

    #main-container {
        margin-top: 20%;
    }

    #info-btn-container {
        margin-top: 2.25em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 4px solid #DCDCDC;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 520px) {
    #countdown {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .large-txt {
        font-size: 1.25em;
    }

    #navbar-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .medium-txt {
        font-size: 1.1em;
    }

    .small-txt {
        font-size: 0.6em;
    }

    #nav-toggle-img-container {
        padding: 2em;
    }

    #navbar a li {
        font-size: 1.5em;
    }

    #count-lbl {
        letter-spacing: 0.85em;
        margin-left: 0.75em;
    }

    .header-logo {
        font-size: 0.85em;
    }

    header {
        padding: 0em 2em;
    }

    #main-container {
        margin-top: 25%;
    }

    #info-btn-container {
        margin-top: 2.25em;
    }

    #info-btn-container a {
        padding: 0.4em 1.25em;
        border: 4px solid #DCDCDC;
        font-size: 1.25em;
    }
}

@media screen and (max-width: 350px) {
    .header-logo {
        width: 50%;
    }

    #text-lol {
        font-size: 1.25em;
    }

    #navbar-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .large-txt {
        font-size: 1em;
    }
}

@keyframes right-left {
    from {
        transform: translate(1000px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes left-right {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(1000px);
    }
}

.no {
    visibility: hidden !important;
    opacity: 0 !important;
}

.yes {
    visibility: visible !important;
    opacity: 1 !important;
    position: absolute;
}

.yes-txt {
    visibility: visible !important;
}

.anim {
    animation: right-left 0.3s;
}

.anim2 {
    animation: left-right 0.3s;
}